<header>
    <img src="assets/img/jp.jpg" alt="Foto de João Pedro" width="130" height="130" loading="eager" />
    <h1>João Pedro</h1>
</header>

<aside>
    <div class="container">

        <p>Full-Stack TypeScript | Angular | NodeJs | NestJS</p>
        <p>São José dos Campos, SP</p>

        <nav>
            <ul>
                <li>
                    <a href="/src/assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                        Download currículo
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img 
                src="assets/icons/whatsapp.svg" 
                alt="Ícone para contato whatsapp"
                width="22px"
                height="24px"
                >
            </figure>

            <figcaption>
                <a href="https://w.app/U9Ipyf" target="_blank" rel="noopener"><strong>Envie uma mensagem para mim no
                        whatsapp</strong></a>
            </figcaption>
        </section>

    </div>

</aside>