<div class="container">
    <h2>Últimas Experiências</h2>

    <input #inputSearch type="text" placeholder="Busque a experiência..." (input)="searchExperience(inputSearch.value)">
    
    @for (item of filteredExperiences(); track item) {
        <details>
            <summary>
                <p>
                    <strong>{{item.summary.strong}}</strong>
                    {{item.summary.p}}
                </p>
            </summary>
            <article [innerHTML]="item.text">Valor W</article>
        </details>
    }
</div>